In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

<h1>OHE DE DATOS CATEGORICOS Y 0/1 A DATOS BOOLEANOS</h1>

In [2]:
data = pd.read_csv('datasets\weatherAUSnoNulls.csv')

In [3]:
data.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.468232,7.611178,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.468232,7.611178,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.468232,7.611178,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,5.468232,7.611178,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,4.447461,4.50993,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,5.468232,7.611178,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.000000,4.50993,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,5.468232,7.611178,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,4.447461,4.50993,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,5.468232,7.611178,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,4.447461,4.50993,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,5.468232,7.611178,W,28.0,S,...,58.0,27.0,1007.0,1005.7,4.447461,4.50993,20.1,28.2,Yes,No

<h2>OHE de el feature Date (año|mes|dia)</h2>

In [4]:
#--OHE Date
data['Date'] = pd.to_datetime(data['Date'], format = '%Y-%m-%d')
data['Date_Year'] = data['Date'].dt.year
data['Date_Month'] = data['Date'].dt.month
data['Date_Day'] = data['Date'].dt.day

<h2>OHE de las features Location, WindGustDir, WindDir9am y WindDir3pm </h2>

In [5]:
#---OHE Location
data = pd.concat([data, pd.get_dummies(data['Location'], prefix='Location_')], axis=1)
#--OHE WindGustDir
data = pd.concat([data, pd.get_dummies(data['WindGustDir'], prefix='WindGustDir_')], axis=1)
#--OHE WindDir9am
data = pd.concat([data, pd.get_dummies(data['WindDir9am'], prefix='WindDir9am_')], axis=1)
#--OHE WindDir3pm
data = pd.concat([data, pd.get_dummies(data['WindDir3pm'], prefix='WindDir3pm_')], axis=1)

In [6]:
data.drop(labels=['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm'], axis=1, inplace=True)

In [7]:
data.head(1)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindDir3pm__NNW,WindDir3pm__NW,WindDir3pm__S,WindDir3pm__SE,WindDir3pm__SSE,WindDir3pm__SSW,WindDir3pm__SW,WindDir3pm__W,WindDir3pm__WNW,WindDir3pm__WSW
0,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,22.0,...,0,0,0,0,0,0,0,0,1,0

<h2>datos booleanos Yes/No -> 1/0 (RainToday, RainTomorrow)</h2>

In [8]:
#--Mejoramos RainToday / RainTomorrow
data['RainToday'] = data['RainToday'].replace('No', 0)
data['RainToday'] = data['RainToday'].replace('Yes', 1)

data['RainTomorrow'] = data['RainTomorrow'].replace('No', 0)
data['RainTomorrow'] = data['RainTomorrow'].replace('Yes', 1)

In [9]:
data.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindDir3pm__NNW,WindDir3pm__NW,WindDir3pm__S,WindDir3pm__SE,WindDir3pm__SSE,WindDir3pm__SSW,WindDir3pm__SW,WindDir3pm__W,WindDir3pm__WNW,WindDir3pm__WSW
0,13.4,22.9,0.6,5.468232,7.611178,44.0,20.0,24.0,71.0,22.0,...,0,0,0,0,0,0,0,0,1,0
1,7.4,25.1,0.0,5.468232,7.611178,44.0,4.0,22.0,44.0,25.0,...,0,0,0,0,0,0,0,0,0,1
2,12.9,25.7,0.0,5.468232,7.611178,46.0,19.0,26.0,38.0,30.0,...,0,0,0,0,0,0,0,0,0,1
3,9.2,28.0,0.0,5.468232,7.611178,24.0,11.0,9.0,45.0,16.0,...,0,0,0,0,0,0,0,0,0,0
4,17.5,32.3,1.0,5.468232,7.611178,41.0,7.0,20.0,82.0,33.0,...,0,1,0,0,0,0,0,0,0,0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Columns: 118 entries, MinTemp to WindDir3pm__WSW
dtypes: float64(16), int64(5), uint8(97)
memory usage: 36.8 MB

In [11]:
pd.isnull(data).sum()

MinTemp            0
MaxTemp            0
Rainfall           0
Evaporation        0
Sunshine           0
                  ..
WindDir3pm__SSW    0
WindDir3pm__SW     0
WindDir3pm__W      0
WindDir3pm__WNW    0
WindDir3pm__WSW    0
Length: 118, dtype: int64

<h2>GUARDAMOS LOS CAMBIOS HECHOS EN UN ARCHVIO EXTERNO(guardar la partida)</h2>

In [12]:
data.to_csv('datasets\weatherAUS_clean.csv', index=False)

In [13]:
data.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm',
       ...
       'WindDir3pm__NNW', 'WindDir3pm__NW', 'WindDir3pm__S', 'WindDir3pm__SE',
       'WindDir3pm__SSE', 'WindDir3pm__SSW', 'WindDir3pm__SW', 'WindDir3pm__W',
       'WindDir3pm__WNW', 'WindDir3pm__WSW'],
      dtype='object', length=118)

In [14]:
data['MaxTemp']

0         22.900000
1         25.100000
2         25.700000
3         28.000000
4         32.300000
            ...
145455    23.400000
145456    25.300000
145457    26.900000
145458    27.000000
145459    23.221348
Name: MaxTemp, Length: 145460, dtype: float64