In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

<h1>Limpieza de datos null</h1>

In [27]:
data = pd.read_csv('datasets\weatherAUS.csv')

In [28]:
data.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,NaN,NaN,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,NaN,NaN,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,S,...,58.0,27.0,1007.0,1005.7,NaN,NaN,20.1,28.2,Yes,No

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 21.6+ MB

In [30]:
pd.isna(data).sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

<h1>OBTENER LA MEDIA DE LOS FLOAT Y LA MODA DE LOS STRING</h1>

In [31]:
#----datos float------
mintemp_mean = data['MinTemp'].mean()
maxtemp_mean = data['MaxTemp'].mean()
rainfall_mean = data['Rainfall'].mean()
evaporation_mean = data['Evaporation'].mean()
sunshine_mean = data['Sunshine'].mean()
windgustspeed_mean = data['WindGustSpeed'].mean()
windspeed9am_mean = data['WindSpeed9am'].mean()
windspeed3pm_mean = data['WindSpeed3pm'].mean()
humiditty9am_mean = data['Humidity9am'].mean()
humidity3pm_mean = data['Humidity3pm'].mean()
pressure9am_mean = data['Pressure9am'].mean()
pressure3pm_mean = data['Pressure3pm'].mean()
cloud9am_mean = data['Cloud9am'].mean()
cloud3pm_mean = data['Cloud3pm'].mean()
temp9am_mean = data['Temp9am'].mean()
temp3pm_mean = data['Temp3pm'].mean()

#---object(string)(direccion)
windgustdir_mode = data['WindGustDir'].mode()[0]
winddir9am_mode = data['WindDir9am'].mode()[0]
winddir3pm_mode = data['WindDir3pm'].mode()[0]

#---objetc(string)(boolean) // mode = No
raintoday_mode = data['RainToday'].mode()[0]
raintomorrow_mode = data['RainTomorrow'].mode()[0]

<h1>REEMPLAZR LOS NAN Y NULL CON LA MEDIA EN LOS FLOAT Y CON LA MODA EN LOS STRING</h1>

In [32]:
#----datos float------
data['MinTemp'] = data['MinTemp'].replace(np.nan, mintemp_mean)
data['MaxTemp'] = data['MaxTemp'].replace(np.nan, maxtemp_mean)
data['Rainfall'] = data['Rainfall'].replace(np.nan, rainfall_mean)
data['Evaporation'] = data['Evaporation'].replace(np.nan, evaporation_mean)
data['Sunshine'] = data['Sunshine'].replace(np.nan, sunshine_mean)
data['WindGustSpeed'] = data['WindGustSpeed'].replace(np.nan, windgustspeed_mean)
data['WindSpeed9am'] = data['WindSpeed9am'].replace(np.nan, windspeed9am_mean)
data['WindSpeed3pm'] = data['WindSpeed3pm'].replace(np.nan, windspeed3pm_mean)
data['Humidity9am'] = data['Humidity9am'].replace(np.nan, humiditty9am_mean)
data['Humidity3pm'] = data['Humidity3pm'].replace(np.nan, humidity3pm_mean)
data['Pressure9am'] = data['Pressure9am'].replace(np.nan, pressure9am_mean)
data['Pressure3pm'] = data['Pressure3pm'].replace(np.nan, pressure3pm_mean)
data['Cloud9am'] = data['Cloud9am'].replace(np.nan, cloud9am_mean)
data['Cloud3pm'] = data['Cloud3pm'].replace(np.nan, cloud3pm_mean)
data['Temp9am'] = data['Temp9am'].replace(np.nan, temp9am_mean)
data['Temp3pm'] = data['Temp3pm'].replace(np.nan, temp3pm_mean)

#---object(string)(direccion)
data['WindGustDir'] = data['WindGustDir'].replace(np.nan, windgustdir_mode)
data['WindDir9am'] = data['WindDir9am'].replace(np.nan, winddir9am_mode)
data['WindDir3pm'] = data['WindDir3pm'].replace(np.nan, winddir3pm_mode)

#---objetc(string)(boolean)
data['RainToday'] = data['RainToday'].replace(np.nan, raintoday_mode)
data['RainTomorrow'] = data['RainTomorrow'].replace(np.nan, raintomorrow_mode)

In [33]:
pd.isna(data).sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [34]:
data.head(10)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,5.468232,7.611178,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.000000,4.50993,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,5.468232,7.611178,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.447461,4.50993,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,5.468232,7.611178,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.447461,2.00000,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,5.468232,7.611178,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.447461,4.50993,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,5.468232,7.611178,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.000000,8.00000,17.8,29.7,No,No
5,2008-12-06,Albury,14.6,29.7,0.2,5.468232,7.611178,WNW,56.0,W,...,55.0,23.0,1009.2,1005.4,4.447461,4.50993,20.6,28.9,No,No
6,2008-12-07,Albury,14.3,25.0,0.0,5.468232,7.611178,W,50.0,SW,...,49.0,19.0,1009.6,1008.2,1.000000,4.50993,18.1,24.6,No,No
7,2008-12-08,Albury,7.7,26.7,0.0,5.468232,7.611178,W,35.0,SSE,...,48.0,19.0,1013.4,1010.1,4.447461,4.50993,16.3,25.5,No,No
8,2008-12-09,Albury,9.7,31.9,0.0,5.468232,7.611178,NNW,80.0,SE,...,42.0,9.0,1008.9,1003.6,4.447461,4.50993,18.3,30.2,No,Yes
9,2008-12-10,Albury,13.1,30.1,1.4,5.468232,7.611178,W,28.0,S,...,58.0,27.0,1007.0,1005.7,4.447461,4.50993,20.1,28.2,Yes,No

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        145460 non-null  float64
 3   MaxTemp        145460 non-null  float64
 4   Rainfall       145460 non-null  float64
 5   Evaporation    145460 non-null  float64
 6   Sunshine       145460 non-null  float64
 7   WindGustDir    145460 non-null  object
 8   WindGustSpeed  145460 non-null  float64
 9   WindDir9am     145460 non-null  object
 10  WindDir3pm     145460 non-null  object
 11  WindSpeed9am   145460 non-null  float64
 12  WindSpeed3pm   145460 non-null  float64
 13  Humidity9am    145460 non-null  float64
 14  Humidity3pm    145460 non-null  float64
 15  Pressure9am    145460 non-null  float64
 16  Pressure3pm    145460 non-null  float64
 17  Cloud9am       145460 non-null  float64
 18  Cloud3pm       145460 non-null  float64
 19  Temp9am        145460 non-null  float64
 20  Temp3pm        145460 non-null  float64
 21  RainToday      145460 non-null  object
 22  RainTomorrow   145460 non-null  object
dtypes: float64(16), object(7)
memory usage: 21.6+ MB

In [36]:
data.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

<h2>GUARDAMOS LOS CAMBIOS HECHOS EN UN ARCHVIO EXTERNO(guardar la partida)</h2>

In [37]:
data.to_csv('datasets\weatherAUSnoNulls.csv', index=False)